/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
	width: 800px;
	margin: 0 auto;
}

article {
	width: 50em;
}

h1 {

}

img {
	max-width: 100%;
}

#viewSource {
	display: block;
	text-align: center;
	width: 100%;
}

/* Grunticon */
.icon-Facebook { 
 	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20height%3D%2250px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2050%2050%22%20width%3D%2250px%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Ctitle%2F%3E%3Cdefs%2F%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%3E%3Cg%20fill%3D%22%23000000%22%20id%3D%22Facebook%22%3E%3Cpath%20d%3D%22M25%2C50%20C38.8071194%2C50%2050%2C38.8071194%2050%2C25%20C50%2C11.1928806%2038.8071194%2C0%2025%2C0%20C11.1928806%2C0%200%2C11.1928806%200%2C25%20C0%2C38.8071194%2011.1928806%2C50%2025%2C50%20Z%20M25%2C47%20C37.1502651%2C47%2047%2C37.1502651%2047%2C25%20C47%2C12.8497349%2037.1502651%2C3%2025%2C3%20C12.8497349%2C3%203%2C12.8497349%203%2C25%20C3%2C37.1502651%2012.8497349%2C47%2025%2C47%20Z%20M26.8145197%2C36%20L26.8145197%2C24.998712%20L30.0687449%2C24.998712%20L30.5%2C21.2076072%20L26.8145197%2C21.2076072%20L26.8200486%2C19.3101227%20C26.8200486%2C18.3213442%2026.9207209%2C17.7915341%2028.4425538%2C17.7915341%20L30.4769629%2C17.7915341%20L30.4769629%2C14%20L27.2222769%2C14%20C23.3128757%2C14%2021.9368678%2C15.8390937%2021.9368678%2C18.9318709%20L21.9368678%2C21.2080366%20L19.5%2C21.2080366%20L19.5%2C24.9991413%20L21.9368678%2C24.9991413%20L21.9368678%2C36%20L26.8145197%2C36%20Z%20M26.8145197%2C36%22%20id%3D%22Oval-1%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E'); 
 	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}

/* font icon */
.fonts {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 2% 0%;
}

