.icon-Facebook { background-image: url('png/Facebook.png'); background-repeat: no-repeat; }

.icon-Twitter { background-image: url('png/Twitter.png'); background-repeat: no-repeat; }

.icon-digg { background-image: url('png/digg.png'); background-repeat: no-repeat; }

